<%-include('partials/header');-%>

<h1><%=title%></h1>
<p><%=content%></p>


<%-include('partials/footer');-%>

<%# EJS does not specifically support blocks, but layouts can be implemented by including
headers and footers. Also, JavaScript must be inclosed between EJS tags. Comments
must also be enclosed by EJS tags. %>
